<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">

    <title>Kent Andersen</title>

    <style type="text/css">
        {{{css}}}
    </style>

    <script type="text/javascript">

        {{{javascript}}}

        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

        try {
            var pageTracker = _gat._getTracker("UA-8950800-2");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>

</head>
<body>
    <div id="wrap">
        <header>
            <h1 id="logo" aria-label="Kent Andersen"></h1>
        </header>

        <nav>
            <a href="https://twitter.com/kentandersen" id="twitter" title="Kent Andersen on Twitter"></a>

            <a href="http://no.linkedin.com/pub/kent-andersen/1a/680/893/" id="linkedin" title="Kent Andersen on LinkedIn"></a>

            <a href="https://github.com/kentandersen" id="github" title="Kent Andersen on GitHub"></a>

            <a href="mailto:kent@kentandersen.no" id="contact" title="Contact Kent Andersen"></a>
        </nav>
    </div>
</body>
</html>