<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">

    <title>Kent Andersen - Creative Technician</title>

    <style type="text/css">
        {{{css}}}
    </style>

    {{{javascript}}}

    <script type="text/javascript">

        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

        try {
            var pageTracker = _gat._getTracker("UA-8950800-2");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>

</head>
<body>
    <div id="wrap">
        <header>
            <h1 id="logo"><span class="hide">Kent Andersen - creative technician</span></h1>
        </header>

        <article>
            <ul>
                <li>
                    <a href="https://twitter.com/kentandersen" id="twitter">
                        <span class="hide">twitter</span>
                    </a>
                </li>
                <li>
                    <a href="http://no.linkedin.com/pub/kent-andersen/1a/680/893/" id="linkedin">
                        <span class="hide">linkedin</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/kentandersen" id="github">
                        <span class="hide">github</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:kent@kentandersen.no" id="contact">
                        <span class="hide">contact</span>
                    </a>
                </li>
            </ul>
        </article>
    </div>
</body>
</html>